aiocron==1.8
async-timeout==4.0.3
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.6.2
charset-normalizer==3.3.2
cloudscraper==1.2.71
colorama==0.4.6
colorlog==6.8.2
croniter==2.0.5
idna==3.7
psutil==5.9.8
pyaes==1.6.1
pyasn1==0.6.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-socks==2.4.4
pytz==2024.1
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9
six==1.16.0
soupsieve==2.5
Telethon==1.35.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
